<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Agency - Start Bootstrap Theme</title>




  {% load staticfiles %}
  <link rel='stylesheet' href="{% static 'css/agency.min.css' %}">
  <link rel='stylesheet' href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel='stylesheet' href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
  <link rel='stylesheet' href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">EL BLOG DE LAS</div>
        <div class="intro-heading text-uppercase">RESHULONAS</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
      </div>
    </div>
  </header>

<section id="posts">
    <div class="container">
      <div class="row">
        {% if posts %}
          <ul>
          {% for post in posts %}
              <h1>{{ post.Titulo }}</h1>
              <p>{{ post.Contenido }}</p>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p>{{post.Foto.url}}</p>
                    <img class ="postFotos" src="../../static{{post.Foto.url}}">
              </div>
          {% endfor %}
          </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
      </div>
    </div>
  </section>




  <!-- Footer <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>





  {% load static %}
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> 
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>  
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
  <script src="{% static 'js/contact_me.js' %}"></script> 
  <script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>
